<p id="notice"><%= notice %></p>

<p>
  <strong>Pid:</strong>
  <%= @task.pid %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @task.progress %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
