<div class="container-fluid">
  <div style="margin:20px 0 20px">
    <div class="row">
      <div class="col-md-6">
        <p id="notice"><%= notice %></p>

        <h1>Listing Players</h1>
        <%= paginate @players %>
        <table class="display table" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Team</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <% @players.each do |player| %>
              <tr>
                <td><%= link_to player.name, player.url, :target => "_blank" %></td>
                <td><%= link_to player.team.full_name, player.team.url, :target => "_blank" %></td>
                <td><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @players %>
      </div>
    </div>
  </div>
</div>
