<p id="notice"><%= notice %></p>

<p>
  <strong>League:</strong>
  <%= @match.league %>
</p>

<p>
  <strong>Season:</strong>
  <%= @match.season %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @match.datetime %>
</p>

<p>
  <strong>Title:</strong>
  <%= @match.title %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
